.upload {
    margin: 0 auto;
}

.images-preview-container {
    display: flex;
    justify-content: left;
}
.image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.image-preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.close-icon:hover {
    cursor: pointer;
    color: red;
}