/* input {
  display: block;
  margin: 3px 0;
} */
/* .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

/* button {

  display: block;
  margin: 10px auto;
} */

.contenedor{
  display: block;
  justify-content: center;
  margin-top: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}